<!DOCTYPE html>
<html>
<head>
	<title>Add them</title>
</head>
<body>
	<h1> Add them</h1>

<form action='/addData' method='post'>
    Name: <input type='text' name='name'>
    <br>
    Age: <input type='text' name='age'>
    <br>
    Hobby: <input type='text' name='hobby'>
    <br>
    <input type='submit' value='Add'>
</form>
<br>
<button><a href="/">Cancel</a></button>
</body>
</html>