<!DOCTYPE html>
<html>
<head>
	<title>My data</title>
</head>
<body>
	<h1>Dolphin data</h1>
<div class="info">
	<h2>Dolphin data</h2>
    <% for (var x in pods) { %>

        <h3>name: <%= pods[x].name %></h3>
        <h4>age: <%= pods[x].age %></h4>
        <h5>hobby: <%= pods[x].hobby %></h5>
        <button><a href="/">back</a></button>
        <hr>
    <% } %>
</body>
</html>