<!DOCTYPE html>
<html>
<head>
	<title>doery</title>
</head>
<body>
	<h1>Welcome to Quoting Dojo</h1>

<form action='/quotes' method='post'>
    Name: <input type='text' name='name'>
    <br><br>
    Quote: <textarea rows="4" cols="50" name='quote'>
    </textarea>
    <br><br>
    <input type='submit' value='create quote'>
</form>
	
	<button><a href="/quotes">skip to quotes</a></button>

</body>
</html>